/*@media only screen and (min-width: 768px) {
=> tablettes et ordinateurs
}
@media only screen and (max-width: 767px) {
=> smartphone
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
=> smartphone en mode portait 
}
*/

@media (min-width: 576px) {
    main{ max-width: 540px;
    }
}

@media (min-width: 768px) {
    main{ max-width: 720px;
    }
}

@media (min-width: 992px) {
    main{ max-width: 960px;
    }
}

@media (min-width: 1200px) {
    main{ max-width: 1140px;
    }
}

@media (min-width: 1800px) {
    main{ max-width: 1740px;
    }
}

main{
    width: 100%;
    padding: 20px 15px;
    margin: 0 auto;
}

